<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet"/>
    <link href="/img/KM_GAMES_logo_icon.png" rel="shortcut icon" type="image/x-icon"/>
    <title>메인 페이지</title>

    <style>
        .no-underline {
            text-decoration: none; /* 하이퍼링크 밑줄 제거 */
        }
    </style>
</head>
<body>
<header th:replace="~{include/header}"></header>
<div class="container">
    <div class="row">
        <div class="col-lg-3" style=" max-width: 240px;">
            <div class="accordion" id="accordionPanelsStayOpenExample">

                <div class="accordion-item">
                    <button class="btn" style="width:214px; height:52px; text-align: left; padding:16px 20px;"
                            type="button">카테고리 목록
                    </button>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button aria-controls="panelsStayOpen-collapseOne" aria-expanded="false" class="accordion-button collapsed"
                                data-bs-target="#panelsStayOpen-collapseOne" data-bs-toggle="collapse"
                                type="button">
                            게임 장르
                        </button>
                    </h2>

                    <div aria-labelledby="panelsStayOpen-headingOne" class="accordion-collapse collapse"
                         id="panelsStayOpen-collapseOne">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-action text-center" th:each="gameGenreCode : ${GameGenreCodes}">
                                <a class="no-underline" th:href="@{'/searchByGenreCode?genreCode=' + ${gameGenreCode.genreCode}}"
                                   onclick="location.href='/searchByGenreCode?genreCode=' + '${gameGenreCode.genreCode}'">
                                    <span th:text="${gameGenreCode.genreTypeName}"></span>
                                </a>
                            </li>
<!--                            <li class="list-group-item list-group-item-action" name="category"-->
<!--                                style="cursor:pointer">3인칭 슈팅-->
<!--                            </li>-->
<!--                            <li class="list-group-item list-group-item-action" name="category"-->
<!--                                style="cursor:pointer">격투 및 무술-->
<!--                            </li>-->
<!--                            <li class="list-group-item list-group-item-action" name="category"-->
<!--                                style="cursor:pointer">숏뎀업-->
<!--                            </li>-->
<!--                            <li class="list-group-item list-group-item-action" name="category"-->
<!--                                style="cursor:pointer">아케이드 및 리듬-->
<!--                            </li>-->
<!--                            <li class="list-group-item list-group-item-action" name="category"-->
<!--                                style="cursor:pointer">플랫폼 게임 및 러너-->
<!--                            </li>-->
<!--                            <li class="list-group-item list-group-item-action" name="category"-->
<!--                                style="cursor:pointer">핵 앤 슬래시 게임-->
<!--                            </li>-->
<!--                            <li class="list-group-item list-group-item-action" name="category"-->
<!--                                style="cursor:pointer">어드벤처-->
<!--                            </li>-->
<!--                            <li class="list-group-item list-group-item-action" name="category"-->
<!--                                style="cursor:pointer">메트로배니아-->
<!--                            </li>-->
<!--                            <li class="list-group-item list-group-item-action" name="category"-->
<!--                                style="cursor:pointer">비주얼 노벨-->
<!--                            </li>-->
<!--                            <li class="list-group-item list-group-item-action" name="category"-->
<!--                                style="cursor:pointer">어드벤처 RPG-->
<!--                            </li>-->
<!--                            <li class="list-group-item list-group-item-action" name="category"-->
<!--                                style="cursor:pointer">캐주얼-->
<!--                            </li>-->
<!--                            <li class="list-group-item list-group-item-action" name="category"-->
<!--                                style="cursor:pointer">퍼즐-->
<!--                            </li>-->
<!--                            <li class="list-group-item list-group-item-action" name="category"-->
<!--                                style="cursor:pointer">풍부한 스토리-->
<!--                            </li>-->
<!--                            <li class="list-group-item list-group-item-action" name="category"-->
<!--                                style="cursor:pointer">히든 오브젝트-->
<!--                            </li>-->
                        </ul>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button aria-controls="panelsStayOpen-collapseTwo" aria-expanded="false" class="accordion-button collapsed"
                                data-bs-target="#panelsStayOpen-collapseTwo" data-bs-toggle="collapse"
                                type="button">
                            가격 종류
                        </button>
                    </h2>

                    <div aria-labelledby="panelsStayOpen-headingTwo" class="accordion-collapse collapse"
                         id="panelsStayOpen-collapseTwo">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-action text-center" th:each="priceState : ${PriceStates}">
                                <a class="no-underline" th:href="@{'/searchByPriceState?priceState=' + ${priceState}}"
                                   onclick="location.href='/searchByPriceState?priceState=' + '${priceState}'">
                                    <span th:text="${priceState.getDescription()}"></span>
                                </a>
                            </li>
<!--                            <li class="list-group-item list-group-item-action" name="category"-->
<!--                                style="cursor:pointer">체험판-->
<!--                            </li>-->
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="col" style="margin-right: 10px; min-height: 818px;">
            <div class="row py-2">
                <div class="col-lg-8"></div>
                <form id="searchForm" action="/search" method="GET" class="input-group col-lg-4 mt-2" style="width:350px">
                    <div class="input-group col-lg-4 mt-2" style="width:350px">
                        <select name="keywordType">
                            <option value="gameTitle" selected>제목</option>
                            <option value="gameTags">태그</option>
                        </select>
                        <input id="keyword" class="form-control" name="keyword" type="text">
                        <button type="submit" class="btn btn-primary">검색</button>
                    </div>
                </form>
            </div>


            <div>
                <hr style="margin:5px 0px;">
                <div style="font-weight:bold; font-size:20px;">전체 목록</div>

                <select aria-label=".form-select-sm example" id="sortOption" class="form-select form-select-sm mt-2"
                        style="width: 100px;" onchange="changeSort()">
                    <option selected>정렬</option>
                    <option value="POPULARITY">인기순</option>
                    <option value="LOW_TO_HIGH">가격 낮은순</option>
                    <option value="HIGH_TO_LOW">가격 높은순</option>
                </select>
            </div>

            <div th:if="${gamePosts.empty}">
                <p style="text-align: center; font-size: 18px; font-weight: bold;">현재 게임이 없습니다.</p>
            </div>


            <div class="row" style="margin-top: 10px">
                <th:block th:each="gamePost : ${gamePosts}">
                    <!-- gamePost가 null인 경우를 처리 -->
                    <th:block th:if="${gamePost != null}">
                        <div class="card-back mb-2 col-lg-3" style="cursor:pointer;"
                             th:onclick="|location.href = '/game_detail/' + ${gamePost.id}|">
                            <div class="card-img">
                                <!-- gamePost의 첫 번째 이미지를 가져올 때 index(0) 사용 -->
                                <img onerror="this.onerror=null; this.src='/img/game/wip.png';"
                                     style="width: 230px; height: 150px;"
                                     th:src="@{/gallery/download/{id}(id=${gamePost.gamePhotos[0].id})}">
                            </div>
                            <div class="card-title">
                                <div class="fw-bold fs-5" th:text="${gamePost.gameTitle}"></div>
                            </div>
                            <div class="card-text2">
                                <b style="font-size: 17px;">
                                    <span th:if="${gamePost.gamePrice > 0}" th:text="|${#numbers.formatDecimal(gamePost.gamePrice, 0, 'COMMA', 0, 'POINT')}원|"></span>
                                    <span th:unless="${gamePost.gamePrice > 0}">
                                    <span th:text="${gamePost.priceState.description}"></span>
                                    </span>
                                </b>
                            </div>
                            <div class="card-text2" th:if="${gamePost.rating > 0 and gamePost.totalReviews > 0}">
                                <span th:each="i : ${#numbers.sequence(1, gamePost.rating)}">&#x2B50</span>
                                <b><span th:text="|(${gamePost.totalReviews})|">(48)</span></b>
                            </div>
                        </div>
                    </th:block>
                </th:block>
            </div>

            <th:block th:if="${page.totalElements > 0}">
            <ul class="pagination mt-2" style="justify-content: center;">
                <li class="page-item" th:if="${page.hasPrevious()}">
                    <a class="page-link" th:href="@{|?page=0|}">처음</a>
                </li>
                <li class="page-item" th:if="${page.hasPrevious()}">
                    <a class="page-link" th:href="@{|?page=${page.number - 1}|}">이전</a>
                </li>
                <th:block th:each="index : ${#numbers.sequence(0, page.totalPages - 1)}">
                    <li class="page-item" th:class="${index == page.number} ? 'active' : ''">
                        <a class="page-link" th:href="@{|?page=${index}|}" th:text="${index + 1}"></a>
                    </li>
                </th:block>
                <li class="page-item" th:if="${page.hasNext()}">
                    <a class="page-link" th:href="@{|?page=${page.number + 1}|}">다음</a>
                </li>
                <li class="page-item" th:if="${page.hasNext()}">
                    <a class="page-link" th:href="@{|?page=${page.totalPages - 1}|}">마지막</a>
                </li>
            </ul>
            </th:block>
        </div>
    </div>
</div>

<footer th:replace="~{include/footer}"></footer>

<script crossorigin="anonymous"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>

<script>
    function changeSort() {
        var selectedOption = document.getElementById("sortOption").value;
        window.location.href = "/searchBySortOption?sortOption=" + selectedOption;
    }
</script>

</body>
</html>