<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/KM_GAMES_logo_icon">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/KM_GAMES_logo_icon">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/KM_GAMES_logo_icon">
    <link rel="manifest" href="https://i.morioh.com/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/KM_GAMES_logo_icon" color="#262521">
    <link rel="shortcut icon" href="/img/KM_GAMES_logo_icon">
    <meta name="msapplication-TileColor" content="#faa700">
    <meta name="theme-color" content="#ffffff">

    <link rel="shortcut icon" type="image/x-icon" href="/img/KM_GAMES_logo_icon.png"/>

    <meta property="og:title" content="Morioh Responsive Template with Bootstrap 4, HTML5 and Vue.js">
    <meta property="og:image" content="/img/KM_GAMES_logo_icon">
    <meta property="og:description" content="Morioh Theme is Bootstrap responsive template free download">
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="720">

    <title>관리자 페이지</title>
    <meta itemprop="description" content="Morioh Theme is Bootstrap responsive template free download">
    <meta itemprop="image" content="/img/KM_GAMES_logo_icon">

    <meta name="description" content="Morioh Theme is Bootstrap responsive template free download">
    <meta name="image" content="/img/KM_GAMES_logo_icon">

    <link rel="shortcut icon" type="image/x-icon" href="/img/KM_GAMES_logo_icon.png"/>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/perfect-scrollbar@1.4.0/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@4.7.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.7.2/animate.min.css">
    <!-- jquery UI CSS파일 -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css"/>
    <!-- jquery 기본 js 파일 -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- jquery UI 라이브러리 js파일 -->
    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/morioh.css">
    <link rel="stylesheet" href="/css/style.css"/>


</head>

<body class="menubar-enabled navbar-top-fixed">

<div class="wrapper">

    <!-- header 시작 -->
    <header th:replace="~{include/admin_header}"></header>
    <!-- header 끝 -->


    <div class="container-fluid mt-15">
        <div class="card mb-15">
            <div class="card-body">
                <h4 class="card-title">
                    <b>게임 관리</b>
                    <div style="float: right;     margin-left: -90px;">
                        <button type="submit" class="btn btn-primary" onclick="history.back()">뒤로</button>
                    </div>
                </h4>

                <div class="row">
                    <div class="card-body">
                        <th:block th:each="gamePost : ${gamePosts}">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card mb-3" style="max-width: 100%;" >
                                        <div class="row g-0">
                                            <div class="col-md-4">
                                                <img  style="width: 430px; height:430px;" th:src="@{/gallery/download/{id}(id=${gamePost.gamePhotos[0].id})}">
                                            </div>

                                            <div class="col-md-8">
                                                    <div class="card-body">
                                                        <table class="table table-bordered .table-hover dt-responsive" >
                                                            <thead>
                                                            <tr style="text-align: center">
                                                                <th class="email" colspan="3" >게임 정보 </th>
                                                            </tr>
                                                            </thead>
                                                            <tbody style="text-align: center" >
                                                                <tr height="30px">
                                                                    <td  style="width:50%">게임이름</td>
                                                                    <td th:text="${gamePost.gameTitle}">1</td>
                                                                </tr>

                                                                <tr height="30px">
                                                                    <td  style="width:50%">이용등급</td>
                                                                    <td>[(${gamePost.ageLimit})]</td>
                                                                </tr>

                                                                <tr height="30px">
                                                                    <td  style="width:50%">장르</td>
                                                                    <td>[(${gamePost.genreCode})]</td>
                                                                </tr>

                                                                <tr height="30px">
                                                                    <td  style="width:50%">게임회사 / 개발자</td>
                                                                    <td>[(${gamePost.company})]</td>
                                                                </tr>

                                                                <tr height="30px">
                                                                    <td  style="width:50%">국적</td>
                                                                    <td>[(${gamePost.nationalityCode})]</td>
                                                                </tr>

                                                                <tr height="30px">
                                                                    <td  style="width:50%">플랫폼 종류</td>
                                                                    <td>[(${gamePost.gameTitle})]</td>
                                                                </tr>

                                                                <tr height="30px">
                                                                    <td  style="width:50%">게임 버전</td>
                                                                    <td>[(${gamePost.gameVersion})]</td>
                                                                </tr>

                                                                <tr height="30px">
                                                                    <td  style="width:50%">출시일</td>
                                                                    <td th:text="${#strings.substring(gamePost.createdDateTime, 0, 10)}">[(${gamePost.createdDateTime})]>111-111</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
<!--                                                        <div style="float: right">-->
<!--                                                        <button type="button" class="btn btn-danger">삭제</button>-->
<!--                                                        </div>-->
                                                        <br>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <div>
                                    <h5 class="card-title">회원 구매 내역</h5>
                                    <div>&nbsp;
                                    <table class="table text-center">
                                        <thead>
                                        <tr>
                                            <th scope="col">주문 번호</th>
                                            <th scope="col">회원 이메일</th>
                                            <th scope="col">게임</th>
                                            <th scope="col">가격</th>
                                            <th scope="col">날짜</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <th:block th:if="${#lists.isEmpty(order_list)}">
                                            <tr>
                                                <td colspan="5">주문 내역이 없습니다</td>
                                            </tr>
                                        </th:block>
                                        <tr th:each="order_list : ${order_list}">
                                            <th scope="row" th:text="${order_list.order_id}">주문번호</th>
                                            <td th:text="${order_list.email}">회원 이메일</td>
                                            <td th:text="${order_list.game_title}">게임</td>
                                            <!--                                                        <td th:text="${pageList.developer}">개발자</td>-->
                                            <td th:text="${order_list.game_price}">결제금액</td>
                                            <td th:text="${#dates.format(order_list.created_date_time, 'yyyy-MM-dd HH:mm')}">날짜</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                            <div style="float: right">
<!--                                               수정 필요! -->
                                                <button type="button" class="btn btn-primary" th:onclick="|location.href = '/member_order' |">전체보기</button>
<!--                                             <button type="button" class="btn btn-primary" th:onclick="|location.href = '/member_order?pageNum=1&amount=10&type=game&keyword=' + ${game_title} |">전체보기</button>-->
                                            </div>


                                    </div>
                            </div>
                        </div>
                        </th:block>

                        <br>

                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">리뷰 내역</h5>
                                    <br>
                                    <div class="card mb-2">
                                        <div>
                                            <h2><b>총 평점</b></h2>
                                        </div>

                                        <div class="card mb-3" style="max-width: 540px;">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <div style="margin-top: 60px;">
                                                        <div class="fs-1 fw-bolder" style="text-align: center;">
                                                            <span th:text="${reviewStatistics.averageRate}"></span>
                                                            <div class="fs-5" id="starRating"></div>
                                                            <div class="fs-6" th:text="|${reviewStatistics.reviewCount}개의 평가|"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body" style="margin-top: 5px;">
                                                        <div class="card-text">5점
                                                            <div class="progress">
                                                                <div class="progress-bar"
                                                                     th:style="'width: ' + ${reviewStatistics.fiveStarPercentage} + '%'"></div>
                                                            </div>
                                                        </div>

                                                        <div class="card-text">4점
                                                            <div class="progress">
                                                                <div class="progress-bar"
                                                                     th:style="'width: ' + ${reviewStatistics.fourStarPercentage} + '%'"></div>
                                                            </div>
                                                        </div>

                                                        <div class="card-text">3점
                                                            <div class="progress">
                                                                <div class="progress-bar"
                                                                     th:style="'width: ' + ${reviewStatistics.threeStarPercentage} + '%'"></div>
                                                            </div>
                                                        </div>

                                                        <div class="card-text">2점
                                                            <div class="progress">
                                                                <div class="progress-bar"
                                                                     th:style="'width: ' + ${reviewStatistics.twoStarPercentage} + '%'"></div>
                                                            </div>
                                                        </div>

                                                        <div class="card-text">1점
                                                            <div class="progress">
                                                                <div class="progress-bar"
                                                                     th:style="'width: ' + ${reviewStatistics.oneStarPercentage} + '%'"></div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    <div class="card mb-2">
                                        <div class="card-header bg-light">
                                            <i class="fa fa-comment fa"></i> 리뷰 목록
                                        </div>



                                        <div class="card-body">
                                            <ul class="list-group list-group-flush">
                                                <th:block th:if="${reviews != null and reviews.isEmpty()}">
                                                    <li class="list-group-item">
                                                        <div class="fw-bolder text-center">현재 작성된 리뷰가 없습니다</div>
                                                    </li>
                                                </th:block>

                                                <th:block th:each="review : ${reviews}">
                                                    <li class="list-group-item">
                                                        <div class="form-inline mb-2">
                                                            <label class="fw-bolder">
                                                                <i class="fa fa-user-circle-o fa-2x"></i>
                                                                <span class="text-primary fw-bolder" style="color:gray;"
                                                                      th:text="|&nbsp; ${review.user.nickname}|"></span>
                                                                <span class="fw-bolder" style="color:gray; padding-top: 10px; flex: 1;"
                                                                      th:text="${#strings.substring(review.createdDateTime, 0, 10)}"></span>
                                                                <div class="fs-6"><span
                                                                        th:each="i : ${#numbers.sequence(1, review.rating)}">&#x2B50</span>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="fw-bolder" th:text="${review.comment}"></div>
                                                    </li>
                                                </th:block>
                                            </ul>
                                            <br>
                                            <div style="float: right">
                                                <button type="submit" class="btn btn-primary" th:onclick="|location.href = '/game_review'|">전체보기</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/perfect-scrollbar@1.4.0/dist/perfect-scrollbar.min.js"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-50750921-19"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-50750921-19');
</script>
<script src="/js/morioh.js"></script>
</body>
</html>