<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/KM_GAMES_logo_icon">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/KM_GAMES_logo_icon">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/KM_GAMES_logo_icon">
    <link rel="manifest" href="https://i.morioh.com/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/KM_GAMES_logo_icon" color="#262521">
    <link rel="shortcut icon" href="/img/KM_GAMES_logo_icon">
    <meta name="msapplication-TileColor" content="#faa700">
    <meta name="theme-color" content="#ffffff">

    <link rel="shortcut icon" type="image/x-icon" href="/img/KM_GAMES_logo_icon.png" />

    <meta property="og:title" content="Morioh Responsive Template with Bootstrap 4, HTML5 and Vue.js">
    <meta property="og:image" content="/img/KM_GAMES_logo_icon">
    <meta property="og:description" content="Morioh Theme is Bootstrap responsive template free download">
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="720">

    <title>관리자 페이지</title>
    <meta itemprop="description" content="Morioh Theme is Bootstrap responsive template free download">
    <meta itemprop="image" content="/img/KM_GAMES_logo_icon">

    <meta name="description" content="Morioh Theme is Bootstrap responsive template free download">
    <meta name="image" content="/img/KM_GAMES_logo_icon">

    <link rel="shortcut icon" type="image/x-icon" href="/img/KM_GAMES_logo_icon.png" />


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/perfect-scrollbar@1.4.0/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@4.7.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.7.2/animate.min.css">
    <!-- jquery UI CSS파일 -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
    <!-- jquery 기본 js 파일 -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- jquery UI 라이브러리 js파일 -->
    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/morioh.css">
    <script>
        $(function() {
            var actionForm = $("#actionForm");

            $(".page-item a").on("click", function (e) {
                e.preventDefault();  //전송을 막음
                console.log('click');
                actionForm.find("input[name='pageNum']")
                    .val($(this).attr("href"));
                actionForm.submit();
            });
            // id.move는 상세정보에 pageNum과 amount를 가져가서 목록으로 돌아올 때 쓸 페이징 정보를 함께 넘김
            $(".move").on("click", function(e) {

                e.preventDefault();
                actionForm
                    .append("<input type='hidden' name='notice_num' value='"
                        + $(this).attr("href") + "'>");
                actionForm.attr("action", "/notice_detail");
                actionForm.submit();

            });

            var searchForm = $("#searchForm");

            $("#searchForm button").on("click",function(e) {
                // 화면에서 키워드가 없다면 검색을 하지 않도록 제어
                if (!searchForm.find("option:selected").val()) {
                    alert("검색종류를 선택하세요");
                    return false;
                }

                if (!searchForm.find("input[name='keyword']").val()) {
                    alert("키워드를 입력하세요");
                    return false;
                }

                // 페이지 번호를 1로 처리
                searchForm.find("input[name='pageNum']").val("1");

                // 폼 태그의 전송을 막음
                e.preventDefault();

                searchForm.submit();

            });

            $("#searchForm").on("keydown", function(e) {
                // 화면에서 키워드가 없다면 검색을 하지 않도록 제어
                if ((e.type === "keydown" && e.keyCode === 13)) {
                    if (!searchForm.find("option:selected").val()) {
                        alert("검색종류를 선택하세요");
                        return false;
                    }

                    if (!searchForm.find("input[name='keyword']").val()) {
                        alert("키워드를 입력하세요");
                        return false;
                    }

                    // 페이지 번호를 1로 처리
                    searchForm.find("input[name='pageNum']").val("1");

                    // 폼 태그의 전송을 막음
                    e.preventDefault();

                    searchForm.submit();
                }
            });


        });
    </script>
</head>

<body class="menubar-enabled navbar-top-fixed">

    <div class="wrapper">

        <!-- header 시작 -->
        <header th:replace="~{include/admin_header}"></header>
        <!-- header 끝 -->

        <form method="get"  id="actionForm" action="/member_searchs">
            <input type="hidden" name="pageNum" th:value="${pageList.pageDTO.cri.getPageNum()}">
            <input type="hidden" name="amount" th:value="${pageList.pageDTO.cri.getAmount()}">
            <input type="hidden" name="type" th:value="${pageList.pageDTO.cri.getType()}">
            <input type="hidden" name="keyword" th:value="${pageList.pageDTO.cri.getKeyword()}">
        </form>

        <div class="row">
            <div class="col-lg-13 col-md-12">
                <div class="card mb-15">
                    <div class="table-responsive">
                        <br>
                        <h5 style="text-align:center"><b>회원 권한부여/검색</b></h5>
                        <h6 style="font-size: 15px; color:#808080; text-align:center">총 관리자 권한이 있는 대상만 회원 권한부여/조회 할 수 있습니다.
                        </h6>
                        <br>
                        <form class="search_area" action="/member_searchs">
                            <input type="hidden" name="pageNum" th:value="${pageList.pageDTO.cri.getPageNum()}">
                            <input type="hidden" name="amount" th:value="${pageList.pageDTO.cri.getAmount()}">
                            <div class="input-group">
                                <div class="search_area">
                                    <select name="type" class="border border-secondary">
                                        <option value="E">이메일</option>
                                        <option value="N">이름</option>
                                        <option value="M">닉네임</option>
                                    </select>
                                <input class="form-control" type="text" name="keyword" th:value="${pageList.pageDTO.cri.getKeyword()}"
                                    placeholder="회원의 이메일 또는 닉네임으로 검색하여 추가할 수 있습니다." aria-label="Search">
                                <button class="btn btn-outline-primary" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                            </div>
                        </form>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">권한</th>
                                    <th class="text-center">이메일</th>
                                    <th class="text-center">이름</th>
                                    <th class="text-center">닉네임</th>
                                    <th class="text-center">날짜</th>
                                    <th class="text-center">설정</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="pageList : ${pageList.userPageList}">
                                    <td class="text-center">
                                        일반 회원
                                    </td>
                                    <td class="text-center" th:text="${pageList.email}">

                                    </td>

                                    <td class="text-center" th:text="${pageList.name}">
                                        이름
                                    </td>
                                    <td class="text-center" th:text="${pageList.nickname}">
                                        닉네임
                                    </td>
                                    <td class="text-center" th:text="${pageList.register_date}">
                                        <span class="badge bg-primary">날짜</span>
                                    </td>

                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn" data-bs-toggle="dropdown"
                                                    data-bs-display="static" aria-expanded="false">
                                                <i class="mdi mdi-dots-horizontal"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-lg-end">
                                                <li><a href="#">
                                                    <button class="dropdown-item" type="button">상세내역</button></a></li>
                                                <li><button class="dropdown-item" type="button">삭제</button></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
<!--                    <nav aria-label="Page navigation example">-->
<!--                        <ul class="pagination mt-2" style="justify-content : center;">-->
<!--                                <li class="page-item"><a class="page-link" href="#">Prev</a></li>-->
<!--                                        <li class="page-item"><a class="page-link disabled" href="#">#</a></li>-->
<!--                                        <li class="page-item"><a class="page-link" href="#">#</a></li>-->
<!--                                <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
<!--                        </ul>-->
<!--                    </nav>-->
                    <!-- Paging[s] -->
                    <div class="col-sm-12 col-md-7" style="text-align:center; margin: 0 auto;">

                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                            <ul class="pagination justify-content-center" style="align:center;">
                                <li th:if="${pageList.pageDTO.isPrev()}" class="paginate_button page-item previous">
                                    <a class="page-link" th:href="${pageList.pageDTO.startPage -1}">이전</a>
                                </li>
                                <!--                            <li th:each="num: ${#numbers.sequence(searchVO.startDate,searchVO.endDate)}" class="paginate_button page-item">-->
                                <!--                                <a href="javascript:void(0);" th:text="${num}" onclick="fn_go_page(num); return false;" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link" title="${num}">${num}</a>-->
                                <!--                            </li>-->
                                <li th:each="num: ${#numbers.sequence(pageList.pageDTO.startPage,pageList.pageDTO.endPage)}" class="paginate_button page-item">
                                    <a class="page-link" th:href="${num}" th:value="${num}" th:text="${num}"></a>
                                </li>
                                <li th:if="${pageList.pageDTO.isNext()}" class="paginate_button page-item next" >
                                    <a class="page-link" th:href="${pageList.pageDTO.endPage + 1}">다음</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/perfect-scrollbar@1.4.0/dist/perfect-scrollbar.min.js"></script>


        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-50750921-19"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-50750921-19');
        </script>



        <script src="/js/morioh.js"></script>


</body>

</html>