<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/KM_GAMES_logo_icon">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/KM_GAMES_logo_icon">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/KM_GAMES_logo_icon">
    <link rel="manifest" href="https://i.morioh.com/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/KM_GAMES_logo_icon" color="#262521">
    <link rel="shortcut icon" href="/img/KM_GAMES_logo_icon">
    <meta name="msapplication-TileColor" content="#faa700">
    <meta name="theme-color" content="#ffffff">

    <link rel="shortcut icon" type="image/x-icon" href="/img/KM_GAMES_logo_icon.png"/>

    <meta property="og:title" content="Morioh Responsive Template with Bootstrap 4, HTML5 and Vue.js">
    <meta property="og:image" content="/img/KM_GAMES_logo_icon">
    <meta property="og:description" content="Morioh Theme is Bootstrap responsive template free download">
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="720">

    <title>관리자 페이지</title>
    <meta itemprop="description" content="Morioh Theme is Bootstrap responsive template free download">
    <meta itemprop="image" content="/img/KM_GAMES_logo_icon">

    <meta name="description" content="Morioh Theme is Bootstrap responsive template free download">
    <meta name="image" content="/img/KM_GAMES_logo_icon">

    <link rel="shortcut icon" type="image/x-icon" href="/img/KM_GAMES_logo_icon.png"/>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/perfect-scrollbar@1.4.0/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@4.7.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.7.2/animate.min.css">
    <!-- jquery UI CSS파일 -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css"/>
    <!-- jquery 기본 js 파일 -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- jquery UI 라이브러리 js파일 -->
    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/morioh.css">
    <link rel="stylesheet" href="/css/style.css"/>

    <script th:inline="javascript">
        var UserId = [[${id}]];
        var UserName;
        var criteria = {
            pageNum: 1,
            amount: 5
        };
        $(document).ready(function () {
            //유저정보를 출력
            $.ajax({
                url: `http://localhost/api/admin/user/${UserId}`,
                type: 'GET',
                success: function (result) {
                    var userForm = $("#userForm")
                    userForm.find("input[id='emailText'").val(result.email);
                    userForm.find("input[id='nameText'").val(result.name);
                    userForm.find("input[id='nickNameText'").val(result.nickname);
                    if (result.created_date_time == null) {
                        userForm.find("input[id='createdTimeText'").val(result.created_date_time);
                        userForm.find("input[id='modifiedTimeText'").val(result.modified_date_time);
                    } else {
                        userForm.find("input[id='createdTimeText'").val(result.created_date_time.substring(0, 19));
                        userForm.find("input[id='modifiedTimeText'").val(result.modified_date_time.substring(0, 19));
                    }
                    UserName = result.name;
                    saveUserObject(result);
                }
            })
            //유저의 구매목록을 출력
            $.ajax({
                url: `http://localhost/api/admin/user/payment/${UserId}`,
                type: 'POST',
                data: JSON.stringify(criteria),
                // data : criteria,
                contentType: "application/json",
                success: function (result) {
                    console.log("호출성공");
                    paymentList(result);
                }
            })

        });

        //가져온 user객체를 전역변수에 저장하는 메서드
        function saveUserObject(result) {
            UserName = result.name;
        }

        // paymentH를 출력하는 함수
        function paymentList(result) {
            $.each(result.godetailPageList, function (index, detail) {
                if (detail.orderDate == null) {
                    var row = "<tr>" +
                        "<th scope=\"row\">" + detail.orderId + "</th>" +
                        "<th scope=\"row\">" + detail.gameTitle + "</th>" +
                        "<th scope=\"row\">" + detail.gamePrice + "</th>" +
                        "<th scope=\"row\">" + detail.orderDate + "</th>" +
                        "<input type='hidden' id='gamePostId' value='" + detail.gamePostId + "'>" +
                        "</tr>";
                    $("#paymentList").append(row);
                } else {
                    var row = "<tr>" +
                        "<th scope=\"row\">" + detail.orderId + "</th>" +
                        "<th scope=\"row\">" + detail.gameTitle + "</th>" +
                        "<th scope=\"row\">" + detail.gamePrice + "</th>" +
                        "<th scope=\"row\">" + detail.orderDate.substring(0, 19) + "</th>" +
                        "<input type='hidden' id='gamePostId' value='" + detail.gamePostId + "'>" +
                        "</tr>";
                    $("#paymentList").append(row);
                }
            });


            //paymentH pagination
            var pagePHprev = $("#paymentP");
            if (result.pageDTO.prev != false)
                pagePHprev.append("<li class='page-item'>" + "<a class='page-link' style='cursor: pointer;'>" + "이전" + "</a>"
                    + "</li>"
                );

            var pagePHnum = $("#paymentP");
            for (var i = result.pageDTO.startPage; i <= result.pageDTO.endPage; i++) {
                pagePHnum = "<li class='page-item'>" + "<a id='actionPH' class='page-link' style='cursor: pointer;'>" + i + "</a>"
                    + "</li>";
                $("#paymentP").append(pagePHnum);
            }

            var pagePHnext = $("#paymentP");
            if (result.pageDTO.next != false)
                pagePHnext.append("<li class='page-item'>" + "<a class='page-link' style='cursor: pointer;'>" + "다음" + "</a>"
                    + "</li>"
                );
        }


        //payment 페이징 버튼 메서드
        $(document).on('click', "#actionPH", function (e) {
            e.preventDefault();
            var num = $(this).text();
            var datas = {
                "pageNum": num,
                "amount": 5
            }
            $.ajax({
                url: `http://localhost/api/admin/user/payment/${UserId}`,
                type: 'POST',
                data: JSON.stringify(datas),
                contentType: "application/json",
                success: function (result) {
                    $("#paymentList").empty();
                    $("#paymentP").empty();
                    paymentList(result);
                }
            })

        });

    </script>
</head>

<body class="menubar-enabled navbar-top-fixed">

<div class="wrapper">

    <!-- header 시작 -->
    <header th:replace="~{include/admin_header}"></header>
    <!-- header 끝 -->


    <div class="container-fluid mt-15">
        <div class="card mb-15">
            <div class="card-body">
                <h4 class="card-title"><b>회원 상세</b></h4>
                <div class="row">
                    <div class="col-12">
                        <div class="col-12">
                            <div class="row no-gutters">
                                <div class="col-12">
                                    <div class="card-body">
                                        <div class="row row-cols-1 row-cols-md-2 g-4">

                                            <div class="col">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">회원 정보</h5>
                                                        <br>
                                                        <form id="userForm" action="/member_update">
<!--                                                            th:action="member_update/${id}-->
                                                            <input type="hidden" name="id" th:value="${id}">
                                                            <div class="mb-3">
                                                                <label for="emailText" class="form-label">Email</label>
                                                                <input id="emailText" type="text" class="form-control"
                                                                       value="#" disabled>
                                                            </div>

                                                            <div class="mb-3">
                                                                <label for="nameText" class="form-label">Name</label>

                                                                <input id="nameText" type="text" class="form-control"
                                                                       name="name" value="#"
                                                                       aria-describedby="emailHelp" disabled>
                                                            </div>

                                                            <div class="mb-3">
                                                                <label for="nickNameText"
                                                                       class="form-label">NickName</label>
                                                                <input id="nickNameText" type="text"
                                                                       class="form-control" value="#">
                                                            </div>

                                                            <div class="mb-3">
                                                                <label for="createdTimeText"
                                                                       class="form-label">생성일</label>
                                                                <input id="createdTimeText" type="text"
                                                                       class="form-control" value="#">
                                                            </div>

<!--                                                            <div class="mb-3">-->
<!--                                                                <label for="modifiedTimeText"-->
<!--                                                                       class="form-label">최근수정일</label>-->
<!--                                                                <input id="modifiedTimeText" type="text"-->
<!--                                                                       class="form-control" value="#">-->
<!--                                                            </div>-->

<!--                                                            <button type="submit" class="btn btn-primary">수정</button>-->
<!--                                                            &nbsp;<button type="button" class="btn btn-primary">비밀번호-->
<!--                                                            초기화-->
<!--                                                        </button>&nbsp;-->
<!--                                                            <button type="button" class="btn btn-danger" th:onclick="|location.href = '/member_disable/' + ${id}|">비활성화</button>&nbsp;-->
<!--                                                            <button type="button" class="btn btn-danger">삭제</button>-->
                                                        </form>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">구매 내역</h5>
                                                        <table class="table text-center">
                                                            <thead>
                                                            <tr>
                                                                <th scope="col">주문 번호</th>
                                                                <th scope="col">상품</th>
                                                                <th scope="col">가격</th>
                                                                <th scope="col">구매일</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody id="paymentList">
                                                            <!--                                                            <tr>-->
                                                            <!--                                                                <th scope="row">결제 번호</th>-->
                                                            <!--                                                                <td>게임</td>-->
                                                            <!--                                                                <td>장르</td>-->
                                                            <!--                                                                <td>개발자</td>-->
                                                            <!--                                                                <td>가격</td>-->
                                                            <!--                                                                <td>날짜</td>-->
                                                            <!--                                                            </tr>-->
                                                            </tbody>
                                                        </table>


                                                        <nav aria-label="Page navigation example">
                                                            <ul id="paymentP" class="pagination mt-2"
                                                                style="justify-content : center;">
                                                                <!--                                                                    <li class="page-item"><a class="page-link disabled" href="#">이전</a></li>-->
                                                                <!--                                                                    <li class="page-item"><a class="page-link" href="#">1</a></li>-->
                                                                <!--                                                                    <li class="page-item"><a class="page-link" href="#">다음</a></li>-->
                                                            </ul>
                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>

                                            <br>

                                            <div class="col">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">장바구니</h5>
                                                        <table class="table text-center">
                                                            <thead>
                                                            <tr>
                                                                <th scope="col">상품</th>
                                                                <th scope="col">가격</th>
                                                                <th scope="col">장바구니등록일</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody id="a">
                                                                <td colspan="3"> 장바구니 목록이 존재하지 않습니다.</td>
                                                            </tbody>
                                                        </table>
                                                        <nav aria-label="Page navigation example">
                                                            <ul id="b" class="pagination mt-2"
                                                                style="justify-content : center;">
                                                            </ul>
                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">리뷰 내역</h5>

                                                        <table class="table text-center">
                                                            <thead>
                                                            <tr>
                                                                <th scope="col">리뷰 번호</th>
                                                                <th scope="col">게임 제목</th>
                                                                <th scope="col">회원 이메일</th>
                                                                <th scope="col">회원 리뷰내용</th>
                                                                <th scope="col">평점</th>
                                                                <th scope="col">리뷰 등록일</th>
                                                            </tr>
                                                            </thead>

                                                            <tbody>
                                                            <tr th:if="${gameReviews.isEmpty()}">
                                                                <td colspan="6">작성된 리뷰가 없습니다.</td>
                                                            </tr>

                                                            <tr th:each="gameReviews : ${gameReviews}">
                                                                <th scope="row" th:text="${gameReviews.id}">결제 번호</th>
                                                                <td th:text="${gameReviews.gamePost.gameTitle}">게임 제목
                                                                </td>
                                                                <td th:text="${gameReviews.user.email}">회원 이메일</td>
                                                                <td th:text="${gameReviews.comment}">회원 리뷰 내용</td>
                                                                <td>
                                                                    <span th:each="i : ${#numbers.sequence(1, gameReviews.rating)}">&#x2B50</span>
                                                                </td>
                                                                <td th:text="${#strings.substring(gameReviews.createdDateTime, 0, 10)}">
                                                                    리뷰 등록일
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>

                                                        <th:block th:if="${page.totalElements > 0}">
                                                            <nav aria-label="Page navigation example">
                                                                <ul class="pagination" style="justify-content: center;">
                                                                    <li class="page-item" th:if="${page.hasPrevious()}">
                                                                        <a class="page-link"
                                                                           th:href="@{|?page=0|}">처음</a>
                                                                    </li>
                                                                    <li class="page-item" th:if="${page.hasPrevious()}">
                                                                        <a class="page-link"
                                                                           th:href="@{|?page=${page.number - 1}|}">이전</a>
                                                                    </li>
                                                                    <th:block
                                                                            th:each="index : ${#numbers.sequence(0, page.totalPages - 1)}">
                                                                        <li class="page-item"
                                                                            th:class="${index == page.number} ? 'active' : ''">
                                                                            <a class="page-link"
                                                                               th:href="@{|?page=${index}|}"
                                                                               th:text="${index + 1}"></a>
                                                                        </li>
                                                                    </th:block>
                                                                    <li class="page-item" th:if="${page.hasNext()}">
                                                                        <a class="page-link"
                                                                           th:href="@{|?page=${page.number + 1}|}">다음</a>
                                                                    </li>
                                                                    <li class="page-item" th:if="${page.hasNext()}">
                                                                        <a class="page-link"
                                                                           th:href="@{|?page=${page.totalPages - 1}|}">마지막</a>
                                                                    </li>
                                                                </ul>
                                                            </nav>
                                                        </th:block>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/perfect-scrollbar@1.4.0/dist/perfect-scrollbar.min.js"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-50750921-19"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-50750921-19');
</script>


<script src="/js/morioh.js"></script>

</body>

</html>