<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="/css/table.css" rel='stylesheet' type="text/css"/>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" rel="stylesheet">

    <script crossorigin="anonymous"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>

    <link href="/img/KM_GAMES_logo_icon.png" rel="shortcut icon" type="image/x-icon"/>

    <!-- jquery UI CSS파일 -->
    <link href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <!-- jquery 기본 js 파일 -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- jquery UI 라이브러리 js파일 -->
    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">

    <title>게임 등록 페이지</title>
    <style>
        .tac {
            text-align: center;
        }

        .ta1 {
            width: 200px;
            background-color: darkgray;
        }

        .tamg {
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body>
<!-- header 시작 -->
<header th:replace="~{include/header}"></header>
<!-- header 끝 -->
<form id="form" enctype="multipart/form-data" onsubmit="return false" role="form"
      th:object="${gameForm}">
    <div class="container">
        <div class="py-5 text-center">
            <h2>게임 등록</h2>
        </div>
        <!-- 안내 테이블 -->
        <div class="row">
            <table class="table table-bordered .table-hover dt-responsive"
                   summary="This table shows how to create responsive tables using Datatables' extended functionality">

                <tbody>
                <td>
                    <div>
                        <p>&nbsp;게임의 이름을 정확하게 입력하세요.</p>
                        <p>&nbsp;게임이 어떤 플랫폼에서 플레이 가능한지 명시하세요. (예: PC, 콘솔, 모바일)</p>
                        <p>&nbsp;게임을 개발한 개발자 또는 개발 회사의 정보를 제공하세요.</p>
                        <p>&nbsp;게임 파일 또는 설치 프로그램을 업로드해야 할 수도 있습니다.</p>
                    </div>
                </td>
            </table>
        </div>
        <br><br>

        <!-- 게임정보 -->
        <div class="row">
            <table class="table table-bordered .table-hover dt-responsive"
                   summary="This table shows how to create responsive tables using Datatables' extended functionality">
                <thead>
                <tr style="text-align: center">
                    <th class="email" colspan="2">등급분류 상세 정보</th>

                </tr>
                </thead>
                <tbody>
                <td class="text-center align-middle">이용 등급</td>
                <td>
                        <span th:each="type : ${AgeLimits}">
                        <input autocomplete="off" checked class="btn-check" th:field="*{ageLimit}"
                               th:value="${type.name()}" type="radio">
                        <label class="btn btn-outline-primary" th:for="${#ids.prev('ageLimit')}"
                               th:text="${type.description}">전체 이용가</label>
                        </span>

                    <!--                        <input type="radio" class="btn-check" th:value="10" id="option2" autocomplete="off">-->
                    <!--                        <label class="btn btn-outline-primary" for="option2">만 12세 이상</label>-->

                    <!--                        <input type="radio" class="btn-check" th:value="15" id="option3" autocomplete="off">-->
                    <!--                        <label class="btn btn-outline-primary" for="option3">만 15세 이상</label>-->

                    <!--                        <input type="radio" class="btn-check" th:value="19" id="option4" autocomplete="off">-->
                    <!--                        <label class="btn btn-outline-primary" for="option4">만 19세 이상</label>-->
                </td>

                </tbody>
            </table>
        </div>
        <br><br>

        <!-- 기본정보 -->
        <div class="row">
            <table class="table table-bordered .table-hover dt-responsive"
                   summary="This table shows how to create responsive tables using Datatables' extended functionality">
                <thead>
                <tr style="text-align: center">
                    <th class="email" colspan="4">게임 정보</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td class="align-middle text-center" rowspan="1" style="width:15%;">
                        게임 제목
                    </td>
                    <td class="align-middle" style="width: 35%;"><input class="form-control" placeholder="게임 제목을 입력해주세요." size="50"
                                                                        th:field="*{gameTitle}"
                                                                        type="text">
                    </td>
                    <td class="align-middle text-center" rowspan="1" style="width:15%;">
                        원작 국적
                    </td>
                    <td class="align-middle" style="width: 35%;">
                        <select class="form-select" th:field="*{nationalityCode}">
                            <option value="">==국적 선택==</option>
                            <option th:each="NationalityCode : ${NationalityCodes}"
                                    th:text="${NationalityCode.nationalityTypeName}"
                                    th:value="${NationalityCode.nationalityCode}">대한민국
                            </option>
                            <!--                                <option value="일본">일본</option>-->
                            <!--                                <option value="미국">미국</option>-->
                        </select>
                    </td>
                </tr>

                <tr>
                    <td class="align-middle text-center" rowspan="1" style="width:15%;">
                        개발사
                    </td>
                    <td class="align-middle" style="width: 35%;"><input class="form-control" placeholder="개발사를 입력해주세요." size="50"
                                                                        th:field="*{company}"
                                                                        type="text">
                    </td>
                    <td class="align-middle text-center" rowspan="1" style="width:15%;">
                        게임 장르
                    </td>
                    <td class="align-middle" style="width: 35%;">
                        <select class="form-select" th:field="*{genreCode}">
                            <option value="">==게임 장르 선택==</option>
                            <option th:each="GameGenreCode : ${GameGenreCodes}"
                                    th:text="${GameGenreCode.genreTypeName}"
                                    th:value="${GameGenreCode.genreCode}">액션
                            </option>
                            <!--                                <option value="아케이드">아케이드</option>-->
                            <!--                                <option value="어드벤처">어드벤처</option>-->
                            <!--                                <option value="RPG">RPG</option>-->
                            <!--                                <option value="퍼즐">퍼즐</option>-->
                            <!--                                <option value="스포츠">스포츠</option>-->
                            <!--                                <option value="호러">호러</option>-->
                            <!--                                <option value="음악">음악</option>-->
                        </select>
                    </td>
                </tr>

                <tr>
                    <td class="align-middle text-center" rowspan="1" style="width:15%;">
                        빌드 버전
                    </td>
                    <td class="align-middle" style="width: 35%;"><input class="form-control" placeholder="게임 버전을 입력해주세요." size="50"
                                                                        th:field="*{gameVersion}"
                                                                        type="text">
                    </td>
                    <td class="align-middle text-center" rowspan="1" style="width:15%;">
                        플랫폼 종류
                    </td>
                    <td class="align-middle" style="width: 35%;">
                        <select class="form-select" th:field="*{platformCode}">
                            <option value="">==플랫폼 종류 선택==</option>
                            <option th:each="PlatformTypeCode : ${PlatformTypeCodes}"
                                    th:text="${PlatformTypeCode.platformTypeName}"
                                    th:value="${PlatformTypeCode.platformCode}">액션
                            </option>
                            <!--                                <option value="모바일">모바일용</option>-->
                        </select>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        <br><br>
        <!-- 추가정보 -->
        <div class="row">
            <table class="table table-bordered .table-hover dt-responsive"
                   summary="This table shows how to create responsive tables using Datatables' extended functionality">
                <thead>
                <tr style="text-align: center">
                    <th class="email" colspan="4">추가 정보</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="align-middle text-center" rowspan="2" style="width: 15%;">게임 가격
                    </td>
                    <td colspan="3">
                        <div class="d-flex">
                            <div class="col-sm-3">
                                <input class="form-control" placeholder="가격을 입력해주세요." required
                                       th:field="*{gamePrice}" type="text" value="">
                            </div>

                            <div style="font-size: 20px;">원</div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td colspan="3">
                        <div class="d-flex">
                            &nbsp;&nbsp;&nbsp;
                            <div class="input-group has-validation">
                                <div th:each="type : ${PriceStates}">
                                    <input autocomplete="off" checked class="btn-check"
                                           th:field="*{priceState}"
                                           th:value="${type.name()}" type="radio">
                                    <label class="btn btn-outline-primary" th:for="${#ids.prev('priceState')}"
                                           th:text="${type.description}">무료</label>
                                    &nbsp;
                                    <!--                                        <input type="radio" class="btn-check" name="options" id="option11"-->
                                    <!--                                            autocomplete="off">-->
                                    <!--                                        <label class="btn btn-outline-primary" for="option11">체험판</label>-->
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="align-middle text-center">포함 태그</td>
                    <td colspan="3">
                        <div class="input-group has-validation">
                            <div>
                                <th:block th:each="gametag : ${gameTags}">
                                    <input autocomplete="off" th:field="*{gameTags}" th:value="${gametag.key}"
                                           type="checkbox">
                                    <label th:for="${#ids.prev('gameTags')}"
                                           th:text="${gametag.value}">인디</label>
                                </th:block>
                            </div>
                        </div>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
        <!-- 상세설명 -->
        <br><br>
        <div class="row">
            <table class="table table-bordered .table-hover dt-responsive"
                   summary="This table shows how to create responsive tables using Datatables' extended functionality">
                <thead>
                <tr style="text-align: center">
                    <th class="email" colspan="2">상세 정보</th>
                </tr>
                </thead>
                <tbody>
                <!--                    <tr height="30px">-->
                <!--                        <td class="text-center align-middle" th:field="*{game_price}" style="width: 150px;">게임 제목</td>-->
                <!--                        <td>-->
                <!--                            <input type="text" class="form-control" id="firstName" name="lec_title"-->
                <!--                                placeholder="예) 리그 오브 레전드" value="" style="width: 100%;">-->

                <!--                        </td>-->
                <!--                    </tr>-->
                <tr height="300px">
                    <td class="text-center align-middle" style="width: 150px;">상세설명</td>
                    <td>
                            <textarea class="form-control" placeholder="
                    [상세설명 작성 주의사항] &#13;&#10;
                    -게임정보와 관련없는 홍보성 정보는 입력할 수 없습니다. &#13;&#10;
                    -게임등록규정에 위반되는금칙어는 입력할 수 없습니다. &#13;&#10;
                     &#13;&#10;
                     위 주의사항 위반시 임의로 게임 삭제 혹은 서비스 이용이 제한될 수 있습니다." style="width: 100%; height: 300px;" th:field="*{detailContent}"
                                      value=""></textarea>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- 사진등록 -->
        <br><br>
        <div class="row">
            <table class="table table-bordered .table-hover dt-responsive"
                   summary="This table shows how to create responsive tables using Datatables' extended functionality">
                <thead>
                <tr style="text-align: center">
                    <th class="email" colspan="2">사진등록</th>

                </tr>
                </thead>
                <tbody>
                <td>
                    <div>
                        <p>-사진은 가로로 찍은 사진을 권장합니다.(가로 사이즈 최소800px)</p>
                        <p>-사진용량은 사진 한 장당 10MB까지 등록이 가능합니다.</p>
                        <p>-사진은 최소 3장이상 등록해야하며, 최대 15장 까지 권장합니다. 그 이상 등록할 경우 업로드 시간이 다소 지연될 수 있습니다.</p>
                    </div>
                </td>
                <tr>
                    <td style="text-align: center;">
<!--                        <div class="card p-2" style="display: inline-block;">-->
<!--                            <div id="fileList">-->
<!--                                <div id="previewContainer">-->
<!--                                    <img alt="#" class="img-thumbnail" src="/img/img_null.png"-->
<!--                                         style="max-width: 800px; max-height: 800px; display: block; margin: 0 auto;">-->
<!--                                </div>-->
<!--                                <hr>-->
<!--                                <input accept=".png, .jpg" data-max-files="15" data-min-files="3" id="fileInput"-->
<!--                                       multiple-->
<!--                                       onchange="checkFileCount(this)" th:field="*{gamePhoto}" type="file">-->
<!--                                <span style="padding-top: 10px;"></span>-->
<!--                            </div>-->
<!--                        </div>-->

                        <div class="card p-2" style="display: inline-block;">
                                <div id="previewContainer">
                                    <img alt="#" class="img-thumbnail" src="/img/img_null.png"
                                         style="max-width: 800px; max-height: 800px; display: block; margin: 0 auto;">
                                </div>
                                <div class="custom-file" id="inputFile">
                                    <input class="custom-file-input" id="files" multiple="multiple" name="files"
                                           type="file" accept=".png, .jpg" data-max-files="15" data-min-files="3" onchange="checkFileCount(this)">
                                    <label class="custom-file-label" for="files">파일을 선택해 주세요.</label>
                                </div>
                            <div id="fileList" style="margin:40px;">
                                <strong>첨부파일 : </strong>
                                <br>
                                <div id=uploadFileList>
                                </div>
                            </div>
                            <br>
                            <div th:if="${not #lists.isEmpty( fileList )}">
                                <div id="fileList" style="margin:40px;">
                                    <strong>기존 첨부파일 : </strong>
                                    <div th:each="row, status : ${fileList}">
                                        <img th:src="@{'/gallery/display?id=' + ${row.id}}" width="80"/>
                                        <a th:href="@{'/gallery/download/' + ${row.id}}"
                                           th:text="${row.origFileName}"></a>
                                        &nbsp;<button class="btn btn-danger btn-xs" onclick="deleteFile(this)" th:value="${row.id}"
                                                      type="button">X
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <div class="row gy-3">
        </div>

        <button class="w-100 btn btn-primary btn-lg" type="submit" id="btnSave">등록하기</button>
    </div>
</form>
<!-- 컨테이너 -->
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2023 KM_GAEMS</p>
</footer>

<script>
    function validateForm() {
        var fileInput = document.querySelector('input[type="file"]');
        var files = fileInput.files;
        var allowedExtensions = /(.png|.jpg)$/i;

        for (var i = 0; i < files.length; i++) {
            if (!allowedExtensions.test(files[i].name)) {
                alert('올바른 파일 형식이 아닙니다. PNG 또는 JPG 파일만 업로드할 수 있습니다.');
                return false;
            }
        }

        return true;
    }

    function checkFileCount(input) {
        var maxFiles = parseInt(input.getAttribute('data-max-files'));
        var minFiles = 3; // 최소 파일 개수
        var selectedFiles = input.files.length;

        if (selectedFiles > maxFiles) {
            alert(maxFiles + "개까지 파일을 업로드할 수 있습니다.");
            input.value = ''; // 선택된 파일 초기화
            return;
        } else if (selectedFiles < minFiles) {
            alert("적어도 3개의 파일을 업로드해주세요.");
            input.value = ''; // 선택된 파일 초기화
            return;
        }

        updateThumbnails(input); // 썸네일 업데이트 호출
    }

    function updateThumbnails(input) {
        var previewContainer = document.getElementById('previewContainer');
        previewContainer.innerHTML = ''; // 기존 썸네일 초기화

        var thumbnailContainer = document.createElement('div');
        thumbnailContainer.style.display = 'flex'; // 가로 정렬을 위해 flex 사용
        thumbnailContainer.style.flexWrap = 'wrap'; // 필요한 경우 줄바꿈
        thumbnailContainer.style.justifyContent = 'center'; // 가운데 정렬
        thumbnailContainer.style.margin = '10px auto'; // 가운데 정렬 및 여백
        previewContainer.appendChild(thumbnailContainer);

        for (var i = 0; i < input.files.length; i++) {
            var file = input.files[i];
            var reader = new FileReader();
            reader.onload = function (e) {
                var thumbnail = document.createElement('img');
                thumbnail.src = e.target.result;
                thumbnail.className = 'img-thumbnail';
                thumbnail.style.maxWidth = '300px'; // 미리보기 이미지의 너비 조정
                thumbnail.style.margin = '5px'; // 이미지 간 간격
                thumbnailContainer.appendChild(thumbnail);
            };
            reader.readAsDataURL(file);
        }
    }

    /*<![CDATA[*/
    $(function () {
        $("#files").on("change", function (e) {
            inputFile(e);
        });

        $("#btnSave").on("click", function () {
            saveGallery();
        });
    });

    var fileCount = 0;
    var totalCount = 10;
    var fileNum = 0;
    var inputFileList = new Array();
    var deleteFileList = new Array();

    function inputFile(e) {

        var files = e.target.files;

        var filesArr = Array.prototype.slice.call(files);

        if (fileCount + filesArr.length > totalCount) {
            alert('파일은 최대 ' + totalCount + '개까지 업로드 할 수 있습니다.');
            return;
        } else {
            fileCount = fileCount + filesArr.length;
        }

        filesArr.forEach(function (f) {
            var reader = new FileReader();
            reader.onload = function (e) {
                inputFileList.push(f);
                $('#uploadFileList').append('<div id="file' + fileNum + '" onclick="fileDelete(\'file' + fileNum + '\')">' + '<font style="font-size:15px">' + f.name + '</font><div/>');
                fileNum++;
            };
            reader.readAsDataURL(f);
        });
        $("#files").val("");
    }

    function deleteFile(elem) {

        console.log(elem.value);
        $(elem).parent().remove();

        if (!deleteFileList.includes(elem.value)) {
            deleteFileList.push(elem.value);
        }
    }

    function fileDelete(fileNum) {

        var no = fileNum.replace(/[^0-9]/g, "");
        inputFileList[no].is_delete = true;
        $('#' + fileNum).remove();
        fileCount--;
    }


    function saveGallery() {

        var formData = new FormData($("form")[0]);

        formData.append("deleteFiles", deleteFileList);

        for (var i = 0; i < inputFileList.length; i++) {
            if (!inputFileList[i].is_delete) {
                formData.append("files", inputFileList[i]);
            }
        }

        $.ajax({
            type: "POST",
            enctype: "multipart/form-data",
            url: "/gallery",
            data: formData,
            dataType: "json",
            processData: false,
            contentType: false,
            success: function (result) {
                console.log(result);
                if (result.response == "OK") {
                    if ($("#id").val() == undefined) {
                        alert("저장되었습니다.");
                    } else {
                        alert("수정되었습니다.");
                    }

                    // location.href = "/gallery/edit/" + result.galleryId;
                    location.href = "/";
                } else {
                    alert(result.errorMsg);
                }
            },
        });
    }

    /*]]>*/
</script>


</body>

</html>