<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="https://kit.fontawesome.com/0bca6ce86d.js" crossorigin="anonymous"></script>
    <title>메인 인트로</title>
    <link rel="shortcut icon" type="image/x-icon" href="resources/img/KM_GAMES_logo_icon.png" />
</head>

<body>
<div class="story1">
    <div class="bg"></div>
    <div class="navbar">
        <div class="logo">
            <img src="/img/KM_GAMES_logo2.png" />
        </div>

    </div>
    <div class="member">
        <div class="member1">모든 HOT한 게임으로</div>
        <br>
        <div class="member2">무엇을 좋아할지 몰라서 여러가지를 준비 했습니다.</div>
        <br>
        <div class="member3">게임할 준비가 되셨나요? 로그인을 해주세요!</div>
        <br>
        <div class="member4">
            <form action="/request_login" method="post">
                <div><input id="input1" name="email" type="text" placeholder="아이디"></div>
                <div><input id="input2" name="password" type="password" placeholder="비밀번호"></div>
                <a id="forget" href="#">Forget ID or password? </a>
                <input id="input4" type="button" value="회원가입" onclick='location.href="/register"' />
                <input id="input3" type="submit" value="로그인">
            </form>
        </div>
    </div>
</div>

<div class="line">
    <hr>
</div>
<section id="popular--alg" class="courses slider" style="margin-top: 100px;">
    <div class="container">

        <div class="courses-wrapper" th:if="${#lists.size(gamePosts) > 0}">
            <div class="header">
                <div class="courses-header">
                    <h2 class="title">
                        <span class="text-colored">인기 게임 리스트</span>
                    </h2>
                </div>
                <div class="courses-detail">
                    <p>다양한 게임을 즐길 수 있어요.</p>
                </div>
            </div>

            <div class="courses-lists">
                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide" th:each="gamePost, iterStat : ${gamePosts}" th:if="${iterStat.index < 5}">
                            <div class="card course-card">
                                <a href="#" class="course-card--front">
                                    <div class="card-image">
                                        <img th:src="@{/gallery/download/{id}(id=${gamePost.gamePhotos[0].id})}" alt="image" style="width: 100%; height: 130px;">
                                    </div>
                                    <div class="card-detail">
                                        <div class="course-title" style="color:gray;" th:text="${gamePost.genreCode}">슈팅 게임</div>
                                        <div class="course-instructor" style="color:black" th:text="${gamePost.gameTitle}"><b>Coding Works</b></div>
                                        <div class="course-price" style="color:black">
                                            <span th:if="${gamePost.gamePrice > 0}" th:text="|${#numbers.formatDecimal(gamePost.gamePrice, 0, 'COMMA', 0, 'POINT')}원|"></span>
                                        </div>
                                        <div class="course-rating" th:if="${gamePost.rating > 0 and gamePost.totalReviews > 0}">
                                            <div class="rating-stars" style="color:#ffD700">
                                                <span th:each="i : ${#numbers.sequence(1, gamePost.rating)}">&#x2B50</span>
                                                <b><span class="review-count" th:text="|(${gamePost.totalReviews})|">(48)</span></b>
                                            </div>
                                        </div>
<!--                                        <div class="course-tags tags">-->
<!--                                            <span class="tag">+300명</span>-->
<!--                                        </div>-->
                                    </div>
                                </a>
                                <div class="course-card--back">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<br><br><br>

<div class="cta-section text-center py-5 position-relative bg-gradient">
    <div class="theme-bg-shapes-right"></div>
    <div class="theme-bg-shapes-left"></div>
    <div class="container">
        <h3 class="mb-2 text-white mb-3">어떤 게임을 해야할지 고민되시나요? </h3>
        <div class="section-intro text-white mb-3 single-col-max mx-auto">각 게임에 대한 가격과 평점을 지금 바로
            확인해보세요!
        </div>
        <div class="pt-3 text-center">
            <a class="btn btn-light" th:href="@{/main}">게임 보러가기 <i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
        </div>
    </div>
</div>

</body>

</html>