<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ac.kmgames.model.mapper.PaymentMapper">
    <sql id="criteria">
        <trim prefix=" AND (" suffix=")" prefixOverrides="OR" >
            <foreach item="cs.type" collection ="cs.typeArr">
                <trim prefix="OR">
                    <choose>
                        <when test="cs.type == 'N'.toString()">
                            g.name like concat ('%',#{cs.keyword},'%')
                        </when>
                        <when test="cs.type == 'G'.toString()">
                            g.genre like concat ('%',#{cs.keyword},'%')
                        </when>
                        <when test="cs.type == 'D'.toString()">
                            g.developer like concat ('%',#{cs.keyword},'%')
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </sql>
    <select id="getAllById" resultType="java.util.HashMap">
        select p.id as 'id', g.name as 'name', g.genre as 'genre', g.developer as 'developer', g.price as 'price', p.date as 'date'
        from payment_history p, game g
        <where>
            p.user_id = #{idx} and p.game_id = g.id
            <include refid="criteria"></include>
        </where>
        limit #{cs.skip} , #{cs.amount}
    </select>

    <select id="getCount" resultType="int">
        select count(*) from payment_history p, game g
        <where>
            p.user_id = #{idx} and p.game_id = g.id
            <include refid="criteria"></include>
        </where>
    </select>

    <select id="get_game_payment_l5" resultType="java.util.HashMap">
        select a.id, b.name, c.price, a.date
        from payment_history a,user b,game c
        where a.user_id = b.id and
            a.game_id = c.id
          AND a.game_id = #{id}
        order by a.date desc
        limit 5
    </select>

    <select id="get_payment_group_game" resultType="java.util.HashMap">
        select a.id, b.name, c.price, a.date
        from payment_history a,user b,game c
        <where>
        a.user_id = b.id and a.game_id = c.id and a.game_id = #{game_id}
        <include refid="criteria"></include>
        </where>
        order by a.date desc
        limit #{cs.skip} , #{cs.amount}
    </select>

    <select id="get_payment_group_game_cnt" resultType="int">
        select count(*)
        from payment_history a,user b,game c
        where a.user_id = b.id and
            a.game_id = c.id
          AND a.game_id = #{game_id}
    </select>
</mapper>