<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ac.kmgames.model.mapper.GameReviewMapper">

    <select id="get_game_reivew_l5" resultType="java.util.HashMap">
        select b.email, a.rate, a.comment,a.date
        from game_review a, user b
        where a.user_id = b.id and a.game_id = #{id}
        order by date desc
        limit 3
    </select>
</mapper>